<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="fragments :: styleLinks" th:remove="tag"></th:block>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"></th:block>

<form th:action="@{/login}" method="post">
    <div class="content-container">
        <div class="container">
            <div class="row col-12">
                <div class="row col-12">
                    <h1>Login form</h1>
                </div>
                <div class="row col-12">
                    <div class="col-6">
                        <label for="username">Username:</label>
                    </div>
                    <div class="col-6">
                        <input class="form-control" id="username" type="text" name="username">
                    </div>
                </div>
                <div class="row col-12">
                    <div class="col-6">
                        <label for="password">Password:</label>
                    </div>
                    <div class="col-6">
                        <input class="form-control" id="password" type="password" name="password">
                    </div>
                </div>
                <div class="row col-12">
                    <div class="col-6">
                    </div>
                    <div class="col-6">
                        <input class="form-control" type="submit">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<th:block th:replace="fragments :: footer" th:remove="tag"></th:block>
<th:block th:replace="fragments :: jsScripts" th:remove="tag"></th:block>
</body>
</html>